.block1 {
    background: #848484;
    background-image: url('/1.jpg');
    background-size: cover;
    height: 100px;
    padding: 50px;
    background-position-y: 50%;
}
.block2 {
    background: #ddbbd5;
    border-radius: 0px 0px 0px 50px;
}
.block3 {
    background: #fff300;
    cursor: pointer;
}
table {
    background: #76087d;
    padding: 14px;
    color: #fff;
}
td {
    background: #c321b0;
    margin: 5px;
}